---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Education
======
* Ph.D Candidate in Actuarial Science, University of Waterloo, 2020 - present
  * <i>Supervisor</i>: [Jun Cai](https://sas.uwaterloo.ca/~jcai/) and [Ruodu Wang](https://sas.uwaterloo.ca/~wang/index.html)
* M.Sc. in Actuarial Science, Central University of Finance and Economics, 2017 - 2020
  * <i>Supervisor</i>: [Ming Zhou](http://stat.ruc.edu.cn/Home/People/Faculty/40dfbd0a8c4f4a7a889f0b761efc8b99.htm)
* B.S. in Mathematics and Applied Mathematics, China University of Geosciences (Wuhan), 2013 - 2017
* B.Ec in Finance, Wuhan University, 2014 - 2017

Work experience
======
* Research Mentor, (2023.01 - 2023.05) - Univeristy of Waterloo
  * Served as research mentor and mentored two female undergraduate students from [Women in Mathematics (WiM)](https://uwaterloo.ca/women-in-mathematics/), Faculty of Mathematics, on the topic “<i>An introduction to risk optimization in insurance</i>”.

<!-- This is commented out. Research Assistant, (2019.03 - 2019.06) - Univeristy of Melbourne -->*
<!--   * Research on topics in risk model and risk sharing arrangement for a mutual pool in a non-cooperative game with moral hazard.-->*
